@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
@layer base {
  body {
    @apply bg-white text-black transition-colors duration-300;
  }
  .dark body {
    @apply bg-gray-900 text-white;
  }
}